<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.WorkshopMapper">

    <insert id="insert" parameterType="com.example.springboot.entity.Workshop">
        insert into workshop (
            workshop_name,
            workshop_team
        ) values (
            #{workshopName},
            #{workshopTeam}
        )
    </insert>

    <update id="updateById" parameterType="com.example.springboot.entity.Workshop">
        update workshop
        set
            workshop_name = #{workshopName},
            workshop_team = #{workshopTeam}
        where id = #{id}
    </update>

    <select id="selectAll" resultType="com.example.springboot.entity.Workshop">
        select * from workshop
        <where>
            <if test="workshopName != null">and workshop_name like concat('%', #{workshopName}, '%')</if>
            <if test="workshopTeam != null">and workshop_team like concat('%', #{workshopTeam}, '%')</if>
        </where>
        order by id asc
    </select>

</mapper>